.app__details-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    .app__details-item {
        list-style: none;
        position: relative;
        overflow: hidden;

        img {
            width: 225px;
            height: 313px;
            object-fit: cover;
        }
        .app__header-title {
            transform: translateY(100%);
            visibility: hidden;
            transition: all 0.5s ease-in-out;
            overflow: hidden;
            position: absolute;
            top: 0;
            color: black;
            backdrop-filter: blur(6px);
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            h2 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                color: black;
                text-align: center;
            }
        }

        &:hover {
            .app__header-title {
                transform: translateX(0);
                visibility: visible;
            }
        }
    }
}
