.app__nav {
    background-color: var(--color-primary);
    backdrop-filter: blur(30px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 20vh;

    .logo {
        font-size: 2rem;
        color: white;
        text-decoration: none;

        &:hover {
            color: #dbdada;
        }
    }

    .app__nav-form {
        display: flex;
        align-items: center;
        input {
            height: 25px;
            font-size: 1rem;
            padding: 10px;
            outline: none;
            border-radius: 5px;
        }
        input::placeholder {
            opacity: 0.3;
        }
    }
}
