.app__flex {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.app__info {
  .app__aside-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 18.5%;
    width: 18.5%;

    .app__poster {
      border-radius: 5px;

      img {
        width: 225px;
        height: 313px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .app__dtl-info {
      margin-top: 1rem;
      line-height: 1.9rem;
      padding: 10px;
      background-color: var(--color-primary);
      color: var(--color-tercery);

      img {
        width: 100%;
        height: 100%;
      }
      p {
        border-bottom: 1px solid var(--color-border);
      }
    }
  }

  .app__aside-right {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 80%;

    .app__info-desc {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      .app__font {
        font-size: 1.2rem;
      }

      .app__info-synopsis {
        line-height: 1.3rem;
        // font-size: 0.9rem;
      }
    }

    .app__characters {
      text-align: center;

      .app__characters-items {
        display: flex;
        margin-bottom: 1rem;
        .app__characters-item {
          width: 121px;
          height: 148px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .app__recommendation {
    margin-top: 1rem;
    .app__recommendation-title {
      font-size: 1.5rem;
      padding: 1rem 1rem 1rem 0;
    }
    .app__recommendation-items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      justify-content: center;
      .app__recommendation-item {
        list-style: none;
        width: 120px;
        height: 180px;
        border-radius: 5px;

        img {
          border-radius: 5px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:hover {
          transition: all 0.5s;
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .app__flex {
    flex-direction: column;
    align-items: center;
  }
  .app__info {
    .app__aside-left {
      flex-direction: row;
      max-width: none;
      width: 100%;
      justify-content: center;
      gap: 20px;
    }
    .app__aside-right {
      width: 100%;
    }
  }
}

@media (max-width: 489px) {
  .app__info .app__aside-left {
    flex-direction: column;
  }

  .app__info .app__dtl-info {
    width: 80%;
    text-align: center;
  }
}
