* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

:root {
  --color-bg: #EBF0F2;
  --color-primary: #5C6F73;
  --color-secondary: #8FA1A6;
  --color-tercery: #D9D9D9;
  --color-text: #313E40;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

.app__container {
  padding: 1rem 1.5rem;
}

.app__container-type-movie {
  color: var(--color-text);
  padding: 1rem;
}