.app__anime-season-later {
    text-align: center;

    h2 {
        padding: 1rem;
        text-align: start;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .app__container-type-season,
    .app__anime-season-later-items {
        padding-bottom: 1rem;
    }
}
